@import './base.css';

#app {
  padding: 2rem;
  padding-bottom: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--lg-accent);
  transition: 0.3s ease;
  padding: 3px;
}
